@font-face {
    font-family: 'Circe';
    src: url('../public/fonts/Circe/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
        url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Circe/Circe-Regular.woff2') format('woff2'),
        url('../public/fonts/Circe/Circe-Regular.woff') format('woff'),
        url('../public/fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../public/fonts/Circe/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
        url('../public/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/Circe/Circe-Bold.woff2') format('woff2'),
        url('../public/fonts/Circe/Circe-Bold.woff') format('woff'),
        url('../public/fonts/Circe/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: local('Gilam'), local('Gilam'),
       url('../public/fonts/Gilam/Gilam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam';
    src: local('Gilam'), local('Gilam'),
       url('../public/fonts/Gilam/Gilam-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__wrapper {
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1460px;
    margin: 0 15px;
    height: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Circe';
}

.header__logo {
    width: 100%;
    max-width: 216px;
}

.header__connection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
}

.number {
    color: #FFFFFF;
    margin-right: 39px;
}

.number__decoration {
    color: #D6AF76;
}

.header__button {
    color: #E4B564;
    max-width: 218px;
    height: 50px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
}

.button__icon {
    padding-right: 10px;
}

.works__wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 0 15px;
    background-image: url('../public/image/grid__row.jpeg');
    background-attachment: fixed;
    background-position: 50% 50%;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.works__title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}

.works__text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.works {
    width: 100%;
    max-width: 1460px;
    font-family:'Gilam';
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 173px repeat(2, 29.25rem);
    grid-template-areas:
        'outdoor outdoor outdoor outdoor outdoor outdoor'
        'earth earth underground underground chennel chennel'
        'support support support welll welll welll';
}

.works__description {
    max-width: 1460px;
    grid-area: outdoor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.works__earthwork {
    background-color:#634F2C;
    grid-area: earth;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__underground {
    background-color: #B4A385;
    grid-area: underground;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.works__chennel {
    background-color: #E4B564;
    grid-area: chennel;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__support-fixed {
    background-color: #635A4A;    
    grid-area: support;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__well {
    background-color: #B08C4D;
    grid-area: welll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.machinery__wrapper {
    width: 100%;
    max-width: 1920px;
    padding: 70px 15px 20px 15px;
    display: flex;
    justify-content: center;
    height: fit-content;
    background-color: #171717;
}

.machinery {
    width: 100%;
    max-width: 1460px;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
    color: white;
    display: grid;
    gap: 15px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(7, 125.1px);
    grid-template-areas:
        'fleet fleet fleet'
        'silt chennelcar backhoe'
        'silt chennelcar backhoe'
        'silt chennelcar loadertruck'
        'loader chennelcar loadertruck'
        'loader excavator loadertruck'
        'loader excavator rink'
        'loader excavator rink';
}

.machinery__subtitle {
    grid-area: fleet;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    margin-bottom: 74px;
}

.machinery__silt-car {
    background-color: #0E0E0E;
    grid-area: silt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 52px;
}

.machinery__chennel-car {
    background-color: #242424;
    grid-area: chennelcar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 52px;
}

.silt__car-description, .machinery__chennel-car__description {
    font-weight: 700;
}

.machinery__backhoe-loader {
    background-color: #1F1F1F;
    grid-area: backhoe;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.machinery__loader {
    background-color: #1F1F1F;
    grid-area: loader;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.machinery__excavator {
    background-color: #E4B564;
    grid-area: excavator;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.machinery__loader-truck {
    background-color: #0E0E0E;
    grid-area: loadertruck;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.machinery__rink {
    background: #0A0909;
    grid-area: rink;
    display: flex;
    align-items: center;
    padding-left: 52px;
}

.patners_wrapper {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../public/image/footer.jpeg');
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.patners {
    width: 100%;
    max-width: 1460px;
    padding: 50px 15px 20px 15px;
    font-family: 'Gilam';
    font-weight: 400;
    font-size: 20px;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(2, 391px);
    grid-template-areas:
        'partners partners partners'
        'eid mavis estate'
        'estate2 set eid2';
}

.subtitle__wrapper {
    grid-area: partners;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    margin-bottom: 74px;
}

.subtitle {
    font-weight: 700;
}

.footer__button {
    margin-left: 39px;
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4B564;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.eid {
    background-color: #634F2C;
    grid-area: eid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis {
    background-color: #e8d2abf1;
    grid-area: mavis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis-logo__wrapper img:first-of-type {
    width: 100%;
    max-width: 60px;
}

.mavis-logo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mavis-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    padding: 0 2rem;
}

.adress-description {
    font-weight: 400;
}

.real-estate {
    background-color: #E4B564;
    grid-area: estate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.real-estate2 {
    background-color: #635A4A;
    grid-area: estate2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-group {
    background-color: #B08C4D;
    grid-area: set;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eid2 {
    background-color: #634F2C;
    grid-area: eid2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    max-width: 1920px;
    min-height: 124px;
    background-color: #171717;
}
